* {
    font-family: sans-serif;
}

body{ 
	background:linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url('../images/image.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
} 

.title {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}
#parent {
    display: table;
    width: 100%;
    margin-top: 6px;
    margin-bottom: 6px;
 }
 #form_login {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
 }

input#searchbar {
    text-indent:20px;
    width: 300px;
 }

#searchbar {
    width: 300px;
    height: 45px;
    border-radius: 50px;
    outline: none;
    border: 2px solid black;
    font-size: 18px;
}

#searchit {
    width: 85px;
    height: 38px;
    border-radius: 4px;
    align-items: center;
    padding: 4px;
    border: none;
    cursor: pointer;
    background-color: rgb(130, 130, 240);
    font-size: 18px;
}

#lyricscontainer
{
    width: 100%;
    height: 100%;
    text-align:center;
    position: absolute;
	top:400px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
    
}

/* #japlang, #englang {
    display:inline;
} */

#japlang {
    /* width: 45%; */
    height: 800px;
    float: left;
    word-break: break-word;
    padding: 20px;
    font-size: 18px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
    -webkit-overflow-scrolling: touch;
    margin-top: 10px;
    margin-bottom: 10px;
}

#englang {
    /* width: 45%; */
    height: 800px;
    float: right;
    word-break: break-word;
    padding: 20px;
    font-size: 18px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
    -webkit-overflow-scrolling: touch;
    margin-top: 10px;
    margin-bottom: 10px;
}

#englang::-webkit-scrollbar, #japlang::-webkit-scrollbar {
    display: none;
}

#englang, #japlang {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

iframe {
    height: 240px;
    width: 380px;
    position: relative;
    margin-top: 10px;
}

h5,em {
    font-size: 14px;
    margin-top: 40px;
}

@media screen and (max-width:960px) {
    #englang, #japlang {
        font-size: 14px;
    }
    #searchbar {
        width: 200px;
    }
}