{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="content">
    <h1 class="title">AniLyrics</h1>
    <div style="text-align:center" id="parent">
    <form action="/" method="POST" id="form_login">
        <input type="text" name="searchbar" id="searchbar" placeholder="Enter song name to search">
        <input type="submit" value="Search" id="searchit">
    </form></div>
    <h5><center><em>Scrollabe lyrics if any</em></center></h5>
    <div id="lyricscontainer">
        <div id="japlang">
            <center><b>Romaji(Japanese)</b></center><br><br>
            <center>
            {% autoescape false %}
                {{ ly_jp }}
            {% endautoescape %}
            </center>
        </div>  
        <div id="englang">
            <center><b>Translation(English)</b></center><br><br>
            <center>
            {% autoescape false %}
                {{ ly_en }}
            {% endautoescape %}
            </center>
        </div>
    </div>
    <center><iframe src="{{ firstvideo_id }}"></iframe></center>
</div>

{% endblock %}